

params.GTF_GZ_LINK = 'http://ftp.ensembl.org/pub/release-106/gtf/homo_sapiens/Homo_sapiens.GRCh38.106.gtf.gz'


params.TRANSCRIPTOME_REFERENCE = "human"

params.CUSTOM_REFERENCE = true
params.CUSTOM_REFERENCE_IDX = '/n/data1/bch/hemonc/bauer/lucassilva/yanhua_perturb/TAP_SEQ_HEMOGLOBIN/merged_full_plus_hbg/full_hg38_plus_hbg_tap.idx'
params.CUSTOM_REFERENCE_T2T = '/n/data1/bch/hemonc/bauer/lucassilva/yanhua_perturb/TAP_SEQ_HEMOGLOBIN/merged_full_plus_hbg/full_hg38_plus_hbg_tap.txt'
params.CUSTOM_GTF_PATH = '/n/data1/bch/hemonc/bauer/lucassilva/yanhua_perturb/TAP_SEQ_HEMOGLOBIN/final_transcripts_GRCh38_p13_merged_hbb.gtf'


params.KALLISTO_BIN = '/home/lf114/miniconda3/envs/perturbseq_pipeline/bin/kallisto'
params.GENOME = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz'
params.GUIDE_FEATURES = '/n/data1/bch/hemonc/bauer/lucassilva/yanhua_perturb/GUIDE_LIFTED_OVERHG38_YANHUA.xlsx'
params.CHEMISTRY = "10XV3"
params.THREADS = 15
params.DISTANCE_NEIGHBORS = 1000000
params.IN_TRANS = "FALSE"
params.FASTQ_FILES_TRANSCRIPTS = ['/n/scratch3/users/l/lf114/yanhua_perturbseq/PSeq_highMOI_R1.fq.gz /n/scratch3/users/l/lf114/yanhua_perturbseq/PSeq_highMOI_R2.fq.gz']
params.FASTQ_NAMES_TRANSCRIPTS = ['S1_L1']

params.FASTQ_FILES_GUIDES = ['/n/scratch3/users/l/lf114/yanhua_perturbseq/u6GUIDE_highMOI_R1_filtered.fq.gz /n/scratch3/users/l/lf114/yanhua_perturbseq/u6GUIDE_highMOI_R2_filtered.fq.gz' ]


params.FASTQ_NAMES_GUIDES = ['S1_L1']
params.CREATE_REF = false
params.ADDGENENAMES = 'HBB,HBD,HBG_MERGED'
params.DIRECTION = 'both'

params.WHITELIST= '/n/data1/bch/hemonc/bauer/lucassilva/yanhua_perturb/3M-february-2018.txt'
params.EXPECTED_CELL_NUMBER = 25000
params.MITO_SPECIE = 'hsapiens'
params.MITO_EXPECTED_PERCENTAGE = 0.2
params.PERCENTAGE_OF_CELLS_INCLUDING_TRANSCRIPTS=0.01
params.TRANSCRIPTS_UMI_TRHESHOLD = 2000
params.GUIDE_UMI_LIMIT = 3

params.MERGE = false


params.RUN_MULTISEQ = true
params.R1_MULTI = '/n/data1/bch/hemonc/bauer/archana/NovaSeq5_second_release/01.RawData/MSeqhighMOI_RPI_3/MSeqhighMOI_RPI_3_CKDL230003506-1A_HT2MJDSX5_L4_1.fq.gz' 
params.R2_MULTI = '/n/data1/bch/hemonc/bauer/archana/NovaSeq5_second_release/01.RawData/MSeqhighMOI_RPI_3/MSeqhighMOI_RPI_3_CKDL230003506-1A_HT2MJDSX5_L4_2.fq.gz'
params.BARCODES_MULTIBAR_LIST_MULTI = '/n/data1/bch/hemonc/bauer/lucassilva/yanhua_perturb/high_moi_multi_barcode.csv'
params.BAR_MULTI= [1,16]         
params.UMI_MULTI= [17,28]         
params.R2_MULTI_TAG = [1,8]          
